@media all and (max-width: 1600px) {
  #header {
    text-align: left;
    background-color: #000;
  }
  #header #gnb {
    position: fixed;
    top: 90px;
    width: 200px;
    height: 100%;
    background-color: #000;
    right: -100%;
    transition: 0.25s ease;
  }
  #header #gnb.on {
    right: 0;
  }
  #header #gnb .gnbList {
    display: block;
  }
  #header #gnb .gnbList > li {
    float: none;
  }
  #header #gnb .gnbList > li:hover {
    background: none;
  }
  #header #gnb .gnbList > li:hover:after {
    display: none;
  }
  #header #gnb .gnbList > li:hover:before {
    transform: scale(0);
  }
  #header #gnb .gnbList > li .depth01 {
    position: relative;
    padding: 0;
    height: 0;
    line-height: 0;
    color: #fff;
    padding: 30px 0 30px 20px;
    display: inline-block;
  }
  #header #gnb .gnbList > li .depth02 {
    color: #f2f2f2;
  }
  #header #gnb .gnbList > li .depth02 li {
    width: 100%;
  }
  #header #gnb .gnbList > li .depth02 li:hover a:before {
    opacity: 1;
  }
  #header #gnb .gnbList > li .depth02 li a {
    position: relative;
    margin: 0;
    padding: 10px 0 10px 20px;
    font-size: 1.4rem;
  }
  #header #gnb .gnbList > li .depth02 li a:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.25s ease;
  }
}

@media all and (max-width: 1220px) {
  #mainVisual .mask ul li {
    background-position: -90% 50%;
  }
  #mainVisual .txtBox h3 {
    font-size: 5rem;
    line-height: 1.3;
  }
  #mainVisual .txtBox p {
    font-size: 1.6rem;
    word-break: keep-all;
  }
  #quickMenu {
    width: 100%;
    margin: 0;
  }
  #quickMenu .menuList li {
    width: 33.33%;
  }
  #business .title p {
    font-size: 1.2rem;
  }
  #business .fiedList {
    width: 100%;
    margin: 0;
  }
  #business .fiedList li {
    width: 50%;
    height: 100% !important;
    margin: 0;
    padding: 15px;
  }
  #business .fiedList li:hover a .imgBox img {
    transform: scale(1);
  }
  #business .fiedList li a .imgBox img {
    width: 100%;
  }
  #business .fiedList li a .txtBox p {
    font-size: 1.2rem;
  }
  #news {
    width: 100%;
    margin: 0 auto 80px;
  }
  #news .title p {
    font-size: 1.2rem;
  }
  #news .newsList li {
    width: 45%;
    margin: 0 2.5%;
  }
  #news .newsList li:nth-child(2) {
    display: none;
  }
  #news .newsList li a .infoBox h3 {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  #footer .inner {
    width: 100%;
  }
  #footer .inner #fLogo {
    margin-left: 20px;
  }
  #footer .inner .callCenter {
    display: none;
  }
}

@media all and (max-width: 996px) {
  #mainVisual .mask ul li {
    width: 100% !important;
    height: 600px;
  }
  #mainVisual .txtBox h3 {
    font-size: 2.6rem;
    line-height: 1.3;
  }
  #mainVisual .txtBox p {
    font-size: 1rem;
  }
  #mainVisual .txtBox p br {
    display: none;
  }
  #mainVisual .scroll {
    bottom: 10%;
  }
  #quickMenu .menuList li a .txtBox h3 {
    font-size: 1.2rem;
  }
  #quickMenu .menuList li a .txtBox p {
    font-size: 1.6rem;
  }
  #business .fiedList li a .txtBox p {
    word-break: keep-all;
    line-height: 1.3;
  }
  #footer {
    text-align: center;
  }
  #footer .inner #fLogo {
    display: none;
  }
  #footer .inner address {
    margin-left: 0;
    font-size: 1rem;
  }
}

@media all and (max-width: 650px) {
  #header #logo {
    left: 30px;
  }
  #header .utilMenu {
    right: 45px;
  }
  #header .utilMenu .btn {
    display: none;
  }
  #quickMenu {
    padding: 15px;
    display: none;
  }
  #quickMenuSlide {
    display: block;
  }
  #business .fiedList li {
    width: 100%;
  }
  #business .fiedList li a .txtBox {
    left: 10px;
  }
  #customer {
    background-position: 50% 50%;
    background-size: cover;
    height: 250px;
    padding: 25px 0;
  }
  #customer .txtBox h3 {
    font-size: 3rem;
  }
  #customer .txtBox h3:after {
    margin: 20px 0;
  }
  #customer .txtBox p {
    font-size: 1.2rem;
  }
  #footer .footerMenu li a {
    font-size: 1.2rem;
    padding: 0 15px;
  }
}

@media all and (max-width: 420px) {
  #mainVisual .txtBox h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  #mainVisual .btnPrev {
    top: 70%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #mainVisual .btnPrev i {
    font-size: 1.6rem;
  }
  #mainVisual .btnNext {
    top: 70%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #mainVisual .btnNext i {
    font-size: 1.6rem;
  }
  #business .title h3 {
    font-size: 2.6rem;
  }
  #business .title p {
    font-size: 0.8rem;
  }
  #business .fiedList li a .txtBox p {
    line-height: 1.4;
  }
  #business .fiedList li a .txtBox p br {
    display: block;
  }
  #news .title h3 {
    font-size: 2.6rem;
  }
  #news .title p {
    font-size: 0.8rem;
  }
  #news .newsList li:hover {
    animation: none;
  }
  #customer .txtBox h3 {
    font-size: 2.2rem;
  }
  #customer .txtBox p {
    font-size: 0.8rem;
  }
  #footer .footerMenu li:last-child a:after {
    display: none;
  }
  #footer .footerMenu li a {
    position: relative;
    padding: 0 3px;
    border: none;
    font-size: 1rem;
  }
  #footer .footerMenu li a:after {
    content: '';
    display: block;
    width: 1px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
  }
  #footer .inner address {
    word-break: keep-all;
  }
}
